/* .item{
    height: auto;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    overflow: hidden;
} */

.video-item{
    display: flex !important;
    align-items: center !important;
    cursor: pointer;
}
.video-item.item img{
    max-width: 180px;
}