*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
.mx-auto{
    margin-inline: auto;
}
.mt-3{
    margin-top: 30px;
}
.mb-3{
    margin-bottom: 30px;
}